.site-header {
  background-color: $dark-turquoise;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: em(16) 0 em(18);

  &__back-btn {
    align-items: center;
    color: $white;
    display: flex;
    font-family: $poppins;
    text-decoration: none;
    gap: em(6, 18);
    font-size: em(18);
  }

  &__tools {
    display: flex;
    gap: em(18);

    &-btn {
      appearance: none;
      background-color: transparent;
      border: none;
      padding: 0;
    }
  }

  .icon {
    height: em(24);
    stroke: $white;
    width: em(24);
    display: block;
    fill: transparent;
  }
}
