.site-header {
  background-color: $dark-turquoise;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: em(16) 0 em(18);

  &__back-btn {
    align-items: center;
    color: $white;
    display: flex;
    font-family: $poppins;
    font-size: em(18);
    gap: em(6, 18);
    text-decoration: none;
    transition: opacity .25s;

    [class^='opened-pane-'] & {
      opacity: 0.5;
      transition: opacity .25s;
    }

    .icon {
      transition: transform 0.25s;
    }

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;

        .icon {
          transform: translateX(-2px);
          transition: transform 0.25s;
        }
      }
    }
  }

  &__tools {
    display: flex;
    gap: em(18);

    &-btn {
      appearance: none;
      background-color: transparent;
      border: none;
      padding: 0;

      @media (hover: hover) {
        &:hover {
          .icon {
            transform: scale(1.07);
          }
        }
      }

      &.active {
        .icon {
          fill: $white;
          transition: all 0.25s;
        }
      }

      .opened-pane-fav & {
        &.nav-bar__tools-btn--favourites .icon {
          fill: #ffc400;
          stroke: #ffc400;
        }
      }

      .opened-pane-lib & {
        &.nav-bar__tools-btn--library .icon {
          fill: #ffc400;
          stroke: #ffc400;
        }
      }
    }
  }

  .icon {
    display: block;
    fill: transparent;
    height: em(24);
    stroke: $white;
    transition: all 0.25s;
    width: em(24);
  }
}
