/**
 * Variables
*/

/* Typography */
$poppins: 'Poppins', sans-serif;
$plus-jakarta: 'Plus Jakarta Sans', sans-serif;

/* Colour palette */
$black: #000;
$white: #fff;
$light-gray: #f1f1f1;
$ink-light: #6C7072;
$slate-gray: #738286;
$dark-turquoise: #083644;
