.content-container {
  margin: 0 auto;
  max-width: em(960);
  padding: 0 em(20);
}

.site-main {
  margin: em(16) auto em(35);

  @include mq($min: 768) {
    margin-bottom: em(60);
  }

  [class^='opened-pane-'] & {
    filter: blur(15px);
  }
}
